html,
body {
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	clear: both;
	content: "";
	display: table;
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

li {
	list-style: none;
}

ul li:last-child {
	margin-bottom: 0;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

button,
label {
	cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

input::placeholder {
	color: inherit;
}

button {
	cursor: pointer;
}

input,
textarea {
	display: block;
	resize: none;
}

body {
	width: 100%;
}

.container {
	max-width: 1325px;
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 15px;
}
.container1{
	max-width: 1440px;
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 15px;
	}
.dn {
	display: none;
}

section {
	padding: 100px 0;
	justify-content: center;
}

.dib {
	display: inline-block;
}

.hover {
	transition: 0.3s;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

/* header */

header {
	background: #FCF1FF;
	padding: 3px 20px;
	width: 100%;
	position: relative;
	z-index: 99 !important;
}

.head {
	align-items: center;
	width: 100%;
	position: relative;
	z-index: 99 !important;
}

.menu__box {
	padding: 20px 0;
	display: inline-flex;
	align-items: center;
	gap: 56px;
	margin-left: -520px;
	margin-top: -5px;
}

.menu__box li a {
	color: var(--white, #2723D3);
	text-align: center;
	font-size: 15px;
	font-weight: 400;
	line-height: 150%;
	cursor: pointer;
	transition: 1s;
	padding-bottom: 5px;
	font-family: "Roboto";
}

.menu__box li a:hover {
	color: #ac77cd;
	border-bottom: solid 2px #ac77cd;
}

.head_icons {
	display: inline-flex;
	gap: 18px;
}

.head_icon {
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-size: cover;
	transition: 1s;
}

.search_icon {
	background-image: url(../img/icons/search.png);
}

.basket_icon {
	background-image: url(../img/icons/basket.png);
	width: 45px;
	height: 45px;
	margin-top: -7px;
}

.head_icon:hover {
	transform: scale(1.2);
}

.basket_icon::after {
	content: '0';
	color: #cd0bba;
	font-family: "Roboto";
	font-size: 14px;
	margin-left: 45px;
}

/* main */
.MAIN_TEXT {
	max-width: 583px;
	margin-top: 240px;
	margin-left: 22px
}

.main_txt {
	color: #2723D3;
	font-family: "Roboto";
	line-height: 18px;
	margin-bottom: 10px;
}

.main_tit {
	font-size: 60px;
	color: #2723D3;
	font-family: "Roboto";
	margin-bottom: 70px;
}

.btn {
	display: inline-flex;
	padding: 15px;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
	background: #cd0bba;
	border: none;
	color: var(--white, #FFF);
	text-align: center;
	font-size: 13px;
	font-weight: 400;
	transition: 1s;
	width: 170px;
	margin: 0 auto;
}

.btn:hover {
	transform: scale(1.1);
}

.main {
	background-image: url(../img/main2.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	margin-top: -35px;
}

.btn_cursor {
	margin-left: 25px;
	/* background-image: url(../img/icons/cursor.svg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%; */
}

/* mini */
.mini .container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.mini {
	width: 70%;
	background: #FCF1FF;
	margin: 0 auto;
	padding: 20px;
	margin-top: -30px;
}

.mini_all {
	display: inline-flex;
	justify-content: center;
	align-items: center;

}

.stars {
	display: inline-flex;
	height: 30px;
}

.stars img {
	margin: 5px;
}

.mini_txt {
	font-family: "Roboto";
	color: #B48DBE;
}

/* about */
.about .container {
	text-align: center;
}

.sec_txt {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sec_tit {
	margin-top: 70px;
	max-width: 893px;
	color: #B48DBE;
	font-family: "Roboto";
	font-size: 54px;
	text-align: center;
	margin-bottom: 60px;
	display: flex;
	justify-content: center;
	align-items: center;

}

.btn_blue {
	border: 1px solid #2723D3;
	color: var(--white, #2723D3);
	background: none;
	width: 190px;
	transition: 1s;
}

/* sellers*/

.sellers_r {
	width: 25%;
	margin-top: 30px;
}

.sellers_l {
	width: 75%;
}

.sellers_tit {
	color: #D44DBE;
	font-size: 35px;
	font-family: "Roboto";
	margin-bottom: 25px;
}

.sellers_txt {
	font-family: "Roboto";
	font-size: 15px;
	line-height: 190%;
}

.btn_pink {
	margin-top: 250px;
	width: 220px;
}

.s_cards {
	width: 100%;
}

.s_card {
	width: 300px;
	margin-right: 10px;
	transition: 1s;
	margin-bottom: 20px;
}

.led_card {
	transition: 2s;
}

.s_card:hover,
.led_card:hover {
	transform: scale(1.09);
	box-shadow: -14px -5px 35px -3px rgba(182, 181, 182, 0.6);

}

.s_card__txt {
	color: #D44DBE;
	font-family: "Roboto";
	font-size: 12px;
	line-height: 190%;
	text-align: center;
	margin-top: 20px;
}

.s_card__tit {
	color: #D44DBE;
	font-family: "Roboto";
	font-size: 20px;
	line-height: 190%;
	text-align: center;
	margin-top: 10px;
}

.s_card__cost {
	color: #D44DBE;
	font-family: "Roboto";
	font-size: 15px;
	line-height: 190%;
	text-align: center;
	margin-top: 10px;
}

.cursors {
	display: flex;
	text-align: end;
	width: 100px;
	gap: 10px;
	margin: 10px 0;

}

/* explore */
.explore_tit {
	font-family: "Ribeye Marrow";
	font-size: 50px;
	color: #2723D3;
	width: calc(100% / 3.5);

}

.flip_txt {
	background: #2723D3;
	padding: 20px;
	text-align: center;
	font-family: "Roboto";
	margin-top: 300px;
}

.flip-boxes {
	justify-content: center;
}

.flip-box {
	display: flex;
	align-content: stretch;
	width: calc(100% / 3);
	height: 520px;
	flex-wrap: wrap;
	position: relative;
	border: 10px solid transparent;
	padding: 0;
	border-top: 0;
	-webkit-perspective: 1000;
	perspective: 1000;

	&:hover {
		.back {
			transform: rotateY(0deg);
			z-index: 10;
		}

		.front {
			transform: rotateY(180deg);
			z-index: -1;
		}

	}

	.back,
	.front {
		position: relative;
		background-color: #1b2d61;
		font-family: "Ribeye Marrow";
		color: white;
		display: flex;
		justify-content: center;
		align-content: end;
		flex: 0 0 100%;
		-webkit-transition: all 1s cubic-bezier(.5, 1, .5, 1);
		transition: all 1s cubic-bezier(.5, 1.3, .5, 1.3);
		transform-style: preserve-3d;
		background-size: cover;
		background-position: center;
	}

	.back {
		background-color: #cecece;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: 100%;
		z-index: -1;
		transform: rotateY(-180deg);

	}

	.front {
		z-index: 10;

		.content {
			font-size: 2rem;
		}


	}

	.content {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		color: #2723D3;
		-webkit-transform: translateZ(50px);
		transform: translateZ(50px);
		text-shadow: 0px 0px 2px rgb(48, 22, 128);
	}
}

/* footer */
footer {
	background: #B48DBE;
	padding: 25px;
}

.footer_main-info {
	margin-top: 30px;
	margin-bottom: 40px;
}

.logo_blue img {
	width: 135px;
	height: 55px;
}

.social {
	gap: 10px;
	display: inline-flex;
}

.social a,
.link li a {
	font-family: "Roboto";
	color: #FFF;
	transition: 1s;
	display: block;
	font-size: 15px;
	margin: 15px 0;


}

.social a:hover {
	border-bottom: 1px solid #FFF;
}

.confident {
	display: flex;

}

.line {
	border-bottom: #2723D3 1px solid;
	width: 95%;
	margin: 15px 0;
}

.link {
	width: calc(100% / 4.2);
	gap: 65px;
	margin-bottom: 30px;
}

.links {
	margin-bottom: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

/* lola */
.beautiful_tit {

	height: 415px;
	top: 73.25px;
	left: 79px;
	color: #D44DBE;
}

.beautiful_right {
	margin-top: 5%;
	width: 50%;
}

.beautiful {
	gap: 225px;
	display: flex;
	flex-wrap: nowrap;
}

.beautiful_txt {
	color: #B48DBE;
	margin: 11% 0 0;
	text-align: center;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 400;
	line-height: 14px;
}

.star-rating {
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	justify-content: space-between;
	margin: 14px;
	position: relative;
	justify-content: center;
}

.star-rating input {
	display: none;
}

.star-rating>label {
	width: 30px;
	height: 30px;
	font-family: Arial;
	font-size: 30px;
	transition: 0.2s ease;
	color: #2723D3;
}

.star-rating label:hover {
	color: #ff69b4;
	transition: 0.2s ease;
}

.star-rating label:active::before {
	transform: scale(1.1);
}

.star-rating label::before {
	content: '\2606';
	position: absolute;
	top: 0px;
	line-height: 26px;
}

.star-rating input:checked~label:before {
	content: '\2605';
}

@-moz-document url-prefix() {
	.star-rating input:checked~label:before {
		font-size: 36px;
		line-height: 21px;
	}
}

.square:first-child {
	background: #2723D3;
}

.square {
	width: 16px;
	height: 16px;
	border: 1px solid #2723D3;
}

.squares {
	gap: 7px;
	justify-content: center;
	margin-bottom: 33px;
}

.led_cards {
	width: 100%;
	margin-top: 5%;
}

.led_card_txt {
	max-width: 267px;
	margin: 0 auto;
	height: 71px;
	text-align: center;
	font-size: 24px;
	color: #2723D3;
	font-family: "Roboto";
}

.button_flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.led_tit {
	color: #D44DBE;
	font-family: Nanum Brush Script;
	font-size: 53px;
	font-weight: 400;
	line-height: 65px;
	text-align: center;
	margin: 0 auto;
}

.arrow {
	width: 40%;
}

.let_card {
	width: calc(100% / 4.5);
}

.guide_txt {
	font-family: Roboto;
	font-size: 12px;
	font-weight: 400;
	line-height: 14px;
	letter-spacing: 0em;
	text-align: left;
	color: #D44DBE;
}

.guide_tit {
	font-family: Roboto;
	font-size: 41px;
	font-weight: 400;
	line-height: 52px;
	letter-spacing: 0em;
	text-align: left;
	color: #D44DBE;
	width: 484px;
	margin: 7px 0 15px;
}

.dark {
	font-size: 16px;
	font-weight: 400;
	line-height: 29px;
	text-align: left;
	width: 478px;
	margin-bottom: 200px;
}

.guide_right {
	margin-top: -84px;
}

.cards {
	justify-content: center;
}

.guide_btn {
	border: 1px solid #D44DBE;
	border-radius: 22px;
	line-height: 42px;
	font-weight: 700;
	font-size: 12px;
	width: 27%;
	color: #D44DBE;
	transition: 0.3s;
}

.middle_img {
	position: absolute;
}

.birthday_right {
	margin-left: 116px;
	margin-top: 84px;
}

.birthday_left {
	margin-top: 80px;
}

/* .say_icon {
	width: 197px;
	height: 197px;
}

.say_tit {

	font-family: Ribeye Marrow;
	font-size: 40px;
	font-weight: 400;
	line-height: 52px;
	letter-spacing: 0em;
	text-align: center;
	color: #B48DBE;
	max-width: 634px;
	margin: 0 auto;
	margin-top: 30px;



}
.say_cards{
	display: flex;
	flex-wrap: nowrap;
}
.say_card_right {
	margin-left: 5%;
	margin-top: 6%;
}

.say_ic {
	margin-left: 41%;
}
*/


/* Follow */
.Follow {
	left: 28px;
	margin-top: 100px;
}

.follow_head-img-block {
	display: flex;
	justify-content: center;
}

.follow_title {
	/* display: flex;
	justify-content: center; */
	font-family: Ribeye Marrow;
	font-size: 40px;
	font-weight: 400;
	line-height: 52px;
	text-align: center;
	color: #B48DBE;
	margin-top: 50px;
}

.follow_head-img {
	border-radius: 50%;
	-webkit-transition: -webkit-transform .8s ease-in-out;
	transition: transform .8s ease-in-out;
}

.follow_head-img:hover {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.card_1 {
	width: 288px;
	height: 391px;
	margin-top: 200px;
	margin-left: 20px;
	position: relative;
}

.card_2 {
	width: 230px;
	height: 304px;
	position: static;
	margin-bottom: 283px;
	margin-left: -90px;
}

.card_3 {
	width: 302px;
	height: 338px;
	margin-left: -100px;
	margin-bottom: -10px;
}

.card_4 {
	width: 230px;
	height: 230px;
	margin-left: 150px;
	margin-bottom: 60px;
	position: relative;
}

.card_5 {
	width: 331px;
	height: 326px;
	margin-bottom: 155px;
	margin-left: -55px;
}

.card_6 {
	width: 245px;
	height: 313px;
	margin-left: -170px;
	margin-bottom: -30px;
}

.card {
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}

.card:hover {
	-webkit-transform: rotate(15deg);
	transform: rotate(15deg);
}

img.rot {
	-webkit-animation: 13s linear 0s normal none infinite running rot;
}

@keyframes rot {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes rot {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* lola finish */